RewriteEngine On

RewriteRule ^Accueil?$ /police/accueil.php [L]
RewriteRule ^Login?$ /police/login.php [L]
RewriteRule ^Nouveau?$ /police/firstcare.php [L]
RewriteRule ^Listeattente?$ /police/listeattente.php [L]
RewriteRule ^Paiement?$ /police/payment.php [L]
RewriteRule ^Ajoutpatient?$ /police/ajoutpatient.php [L]
RewriteRule ^Dossier?$ /police/dossier.php [L]
RewriteRule ^Consultation?$ /police/consultation.php [L]
RewriteRule ^Ajout_consultation?$ /police/ajout_consultation.php [L]
RewriteRule ^Affiche_Consultation?$ /police/affiche_consultation.php [L]
RewriteRule ^Ordonnance?$ /police/ordonnance.php [L]
RewriteRule ^Ordonnances?$ /police/ordonnances.php [L]
RewriteRule ^Logout?$ /police/logout.php [L]
RewriteRule ^Ticket?$ /police/printentre.php [L]
RewriteRule ^Laboratoire?$ /police/laboratoires.php [L]
RewriteRule ^Liste_examen?$ /police/listeexamen.php [L]
RewriteRule ^Liste_Labo?$ /police/listelabo.php [L]
RewriteRule ^Examen?$ /police/affiche_examen.php [L]
RewriteRule ^Affiche_ordonnance?$ /police/affiche_ordonnance.php [L]
RewriteRule ^Examen_envoie?$ /police/examen_envoie.php [L]
RewriteRule ^Affiche_Resultat?$ /police/affiche_Resultat.php [L]
RewriteRule ^Resultat?$ /police/resultat.php [L]
RewriteRule ^Nouvel_Operation?$ /police/nouvel_operation.php [L]
RewriteRule ^Liste_Bloc?$ /police/liste_bloc.php [L]
RewriteRule ^Affiche_Operation?$ /police/affiche_operation.php [L]
RewriteRule ^Affiches_Operations?$ /police/affiches_operations.php [L]
RewriteRule ^Compte_rendu_operation?$ /police/compte_rendu.php [L]

RewriteRule ^Hospitalisation?$ /police/hopital.php [L]
RewriteRule ^Nouvel_Hospitalisation?$ /police/nouvel_hospitalisation.php [L]
RewriteRule ^Affiche_Hospitalisation?$ /police/affiche_hospitalisation.php [L]
RewriteRule ^Modifier_Hospitalisation?$ /police/modifier_Hospitalisation.php [L]
RewriteRule ^Modif_Hospitalisation?$ /police/modif_Hospitalisation.php [L]
RewriteRule ^Sortie_Hospitalisation?$ /police/sortie_hospitalisation.php [L]
RewriteRule ^Liste_Hospitalisation?$ /police/hospitalisation.php [L]
RewriteRule ^Liste_Attente_Hosp?$ /police/liste_attente_hos.php [L]
RewriteRule ^Hosp_admission?$ /police/hosp_admission.php [L]
RewriteRule ^Acte_Nouveau?$ /police/actes_hos.php [L]
RewriteRule ^Suivie_Nouveau?$ /police/suivie_hos.php [L]
RewriteRule ^Imprimer_Fiche_Hosp?$ /police/imprimer_fiche_hosp.php [L]
RewriteRule ^Ticket_Sortie?$ /police/printsortie.php [L]


RewriteRule ^Prochain_RDV?$ /police/prochain_rdv.php [L]
RewriteRule ^Facturation?$ /police/facturations.php [L]
RewriteRule ^Caisse?$ /police/caisse.php [L]
RewriteRule ^Facturations?$ /police/facturation.php [L]
RewriteRule ^Nouvel_facture?$ /police/nouvel_facture.php [L]
RewriteRule ^Nouvel_factures?$ /police/nouvel_factures.php [L]
RewriteRule ^Nouvel_facture_cnss?$ /police/nouvel_facture_cnss.php [L]
RewriteRule ^Nouvel_facture_enregistre?$ /police/nouvel_facture_enregistre.php [L]
RewriteRule ^Facture_paiement?$ /police/facture_paiement.php [L]
RewriteRule ^Nouvel_facture_cnss_enregistre?$ /police/nouvel_facture_cnss_enregistre.php [L]
RewriteRule ^Militaire?$ /police/facture_militaire.php [L]
RewriteRule ^Gestion_utilisateur?$ /police/gestion_utilisateur.php [L]
RewriteRule ^Ajout_utilisateur?$ /sysmff1/ajout_user.php [L]
RewriteRule ^Imageries?$ /police/imagerie.php [L]
RewriteRule ^Examen_Imagerie?$ /police/envoie_imagerie.php [L]
RewriteRule ^Affiche_Imagerie?$ /police/affiche_imagerie.php [L]
RewriteRule ^Facture_envoie?$ /police/facture_envoie.php [L]
RewriteRule ^Envoie_facture?$ /police/envoie_facture.php [L]
RewriteRule ^Ajouter_medecin?$ /police/ajouter_medecin.php [L]
RewriteRule ^Ajout_medecin?$ /police/ajout_medecin.php [L]
RewriteRule ^Modifier_operation?$ /police/modifier_operation.php [L]
RewriteRule ^Liste_Imagerie?$ /police/listeimagerie.php [L]
RewriteRule ^Resultat_Imagerie?$ /police/Resultat_imagerie.php [L]
RewriteRule ^Statistique?$ /police/statistique.php [L]


RewriteRule ^Bloc_admission?$ /police/bloc_admission.php [L]
RewriteRule ^Bloc?$ /police/bloc.php [L]